<div>
  <ul class="list-group">
    <a [routerLink]="" class="list-group-item" *ngFor="let cat of category" (click)="selectCategory(cat)">{{cat.title}}</a>
    <!--<button class="list-group-item" *ngFor="let cat of category" (click)="selectCategory(cat)">{{cat.title}}</button>-->

  </ul>
</div>

<div *ngIf="selectedCategory" class="col-md-offset-1">
  {{selectedCategory.title}}
  <hr>
  <label for="categoryName">Change the category name:</label>
  <input type="text" id="categoryName" [(ngModel)]="selectedCategory.title" name="categoryName">
</div>
